### IDEs ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### ビルド成果物 ###
target/
build/
dist/
.mvn/wrapper/maven-wrapper.jar

# 例外: サブフォルダのビルド成果物は追跡
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### 機密情報 ###
application.properties
application.yml
application-prod.properties
.env
.env.local

### その他 ###
.DS_Store
node_modules/
HELP.md
