<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>休暇一覧</title>
</head>
<body>
    <h2 th:text="'社員ID: ' + ${employeeId} + ' ' + ${employeeName}"></h2>
    <table border="1">
        <tr>
            <th>開始日</th>
            <th>終了日</th>
            <th>種類</th>
			<th>理由</th>
            <th>ステータス</th>
        </tr>
        <tr th:each="v : ${vacations}">
            <td th:text="${v.startDate}"></td>
            <td th:text="${v.endDate}"></td>
            <td th:text="${v.vacationType.label}"></td>
			<td th:text="${v.reason}"></td>
            <td th:text="${v.status.label}"></td>
        </tr>
    </table>
</body>
</html>
