<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>休暇一覧</title>
</head>
<body>
    <h2 th:text="'社員ID: ' + ${employeeId} + ' ' + ${employeeName}"></h2>
    <table border="1">
        <thead>
            <tr>
                <th>開始日</th>
                <th>終了日</th>
                <th>種類</th>
                <th>理由</th>
                <th>ステータス</th>
                <th>承認・棄却者</th>
                <th>承認・棄却日時</th>
                <th>棄却理由</th>
            </tr>
        </thead>
        <tbody id="vacationTableBody">
            <!--JSで作成-->>
        </tbody>
    </table>
    <script src="/js/vacation-list.js"></script>
</body>
</html>
